<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- SQL-DB 連線字串 -->
		<add name="SQLOUR" connectionString="data source=WIN-OQ6COI38UBE;initial catalog=OGSystem;User=sa;Password=111111" />
		<add name="SQLCUS" connectionString="data source=WIN-OQ6COI38UBE;initial catalog=LabTestDB;User=sa;Password=111111" />
	</connectionStrings>
	
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>